body{
    background-color:#DFD3C3;
}
p{
    margin:auto;
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 10px;
    width: 700px;
    background-color:#EEC373;
}
table{
    margin:auto;
    text-align: center;
    color:azure;
    background-color: #68A7AD ;
    border: 4px double black;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}
h1{
    margin: auto;
    text-align: center;
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    border: 6px solid black;
    border-radius: 10px;
    width: 500px;
    background-color:#68A7AD ;
}
h2{
    margin: auto;
    text-align: center;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    border: 4px solid black;
    border-radius: 10px;
    width: 500px;
    background-color:#68A7AD ;
}
div{
    margin:auto;
    text-align: center;
    font-size:20px;
    border: 2px solid black;
    border-radius: 10px;
    width: 500px;
    background-color:#68A7AD;
}

a:hover{
    color:red;
}

form{
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    margin: auto;
    border: 6px ridge;
    border-color:dimgray;
    width: 750px;
}
img{
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    border: 6px groove black;
}
::placeholder{
    color:azure;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}
input {
    background-color: #337377 ;
    color:azure;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}
ul{
    margin: auto;
    text-align: center;
    list-style-position: inside;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#centerLink{
    margin-left:600px;
}

.doubleBorderImage{
    border: 8px double black;
    border-radius: 8px;
}
